

  .bg-parallax-menu:after{
    content: '';
    position: absolute;
    z-index: -1;
    left:0;
    bottom:0;
  }

  .bg-parallax-menu:before{
    content: '';
    width: 100%;
    height:100%;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden ;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-transform: translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateZ(0) scale(1.0, 1.0);
    -o-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);
    animation: increase 60s linear 10ms infinite;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: -2;
  }

  

  .parallax-title{
    position: absolute;
    display: block;
    max-width: 100%;
    top: 66%;
    left: 0;
    padding: 16px;
    width: 100%; 
    transform-style: flat; 
    transform: translate3d(0,-50%,0);
  }

  .bg-parallax-menu {
    /* background-image: url("http://templates.framework-y.com/gourmet/images/bg-28.jpg"); */
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    /* z-index: 9; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-attachment: fixed;
    /* background-color: rgba(27,26,26,0.75); */
     opacity: .7; 
  }

  .bg-parallax-menu.food-menu{
    background-image: url("https://img.freepik.com/free-photo/bread-slices-with-topping-tomato-cheese-olives-white-table_23-2148194999.jpg?w=2000");
    /* margin-top: 0; */
    opacity: 1;
  }
  
  /* .text-center {
    text-align: center;
    font-size: 52px;
    margin-bottom: 22px;
    display: block;
    box-sizing: border-box;
    max-width: 100%;
  }
  */

  /* .bg-parallax{
    background-image: url("../images/parallax-img/21.jpg");
    min-height: 300px;
    height: 100vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    height:100%;
  } */
  
  .recipes{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      padding: 1.3rem;
      width: 73%;
      /* max-width: fit-content; */
      height: 50%;
      margin: 0 auto;
      
  }
  

  /* .menu{
    padding: 4rem;
  } */

  /* .all-menu{
    
  } */


  @keyframes increase{
    0%{
      transform: scale(1);
    }

    100%{
      transform: scale(1.5);
    }
  }


  