.tab-menu{
    padding:2.2rem;
    width: 100%;
}

.tab-menu > .text{
    line-height: 2.4rem;
    width:50%;
    text-align: center;
    margin: 0 auto;
}


/* Tab Container */
.Tabs {
    
    width: 90%;
    height: auto;
    min-height: 400px;
    /* background: #053742; */
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 2rem;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
  
  }
  
 /* Tab Navigation */
ul.nav-tab {
    width: 75%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid #39A2DB; */
    border-radius: 2rem;
    @media (max-width: 768px) {
      width: 90%;
    }
  }
  ul.nav-tab li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    /* border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem; */
  }
  /* ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  } */

  ul.nav-tab li:first-child {
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
  }
   
  ul.nav-tab li:last-child {
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
  }
  
  ul.nav-tab li:hover {
    background: #eeeeee39;
  }
  ul.nav-tab li.active {
    background: #222;
  }


  