/* activate toggle */
/* .accordion-toggle h3{
    font-size: 3rem;
    color: #282828;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    display: block;
    line-height: 2.7rem;
} */