nav{
    width: 100%;
    height: 100%;
    background: transparent no-repeat center center;
    position: fixed;
    /* bottom: 0;
    right:0; */
    z-index: 1000;
    transition: .6s;
    /* top: 0;
    left: 0; */
    background: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), transparent)
}

.container-fluid.px-5{
    position: fixed;
    top:0;
}

.collapse.navbar-collapse{
    height: 58px;
   width: 100%;
   /* position: fixed; */
   color: white;
   text-transform: uppercase;
  letter-spacing: 0.025em;
  transition: background-color 0.2s linear;
}

.navbar-nav{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 65%;
    margin: 0 auto;
    margin-right: 0;
    /* padding-right: 25px; */
    padding-left: 25px;
    /* padding-top: 18px; */
}

.navbar-nav .nav-link{
    margin: 0 15px;
  text-decoration: none;
  color: #333;
  letter-spacing: 2px;
  font-weight: 500px;
  padding: 15px 15px;
}


/* .navbar-nav a.book-btn{
    background: maroon;
    color:#fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    padding: 0.8rem;
    text-transform: uppercase;
    cursor: pointer;
} */

.book{
    width: 4rem;
}

.nav-item{
    padding: 1.5rem;
    /* color: #fff; */
}

.nav-link{
    font-weight: 700;
    color: #fff !important;
}

body{
    font-family: 'Nunito', sans-serif;
}


li > a:focus, li > a:hover, li > a.active{
    color: #bb9356;
}

.dropdown-menu{
    border-radius: 0;
    background-color: #1b1a1a;
}

.dropdown-item{
    color: #fff !important;
}

.dropdown-menu[data-bs-popper]{
    left : 1.5rem;
}

.navbar.navbar-expand-lg{
    background-color: transparent;
}

.navbar.navbar-expand-lg.changeColor{
    background-color: #fff;
}

/* .navbar.colorChange{
    background-color: #000;
} */

/* .navbar.colorChange{
    background-color: #000;
    box-shadow: -3px -3px 7px #ffffff73,
				2px 2px 5px rgba(94, 104, 121, 0.288);
} */

