.tab-card-1 {
    /* position: relative; */
    /* width:50%; */
    align-items: center;
    width:50%;
    height: 62rem;
    margin: 0 auto;
    /* background:#333; */
    box-sizing: border-box;
    /* padding: 0; */
    text-align: center;
    /* margin-bottom: 2rem; */
}

.tab-card-1 .left-side{
     padding: 1.6rem;
     box-shadow: 0 10px 40px rgba(0,0,0,.0001);
     /* flex-basis: 45%; */
}

.tab-card-1 span{
    display: block;
    color: var(--gold-crayola);
    padding: 1rem;
    font-size: 2.2rem;
    font-weight: 600;
}

.tab-card-1 p:first-child{
    font-size: 1.8rem;
    font-weight: 600;
    /* line-height: 2.9rem; */
    /* color: #333; */
    /* margin-bottom: 0; */
}

.tab-card-1 .text{
    color: #a5a5a5;
    font-size: 2.1rem;
    font-weight: 400;
    /* line-height: 2.3rem; */
    margin-bottom: 0;
}



.img-side img{
    min-width: 20rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-side .recipes-inline,
.right-side .recipes-inline{
    border : 2px dashed var(--dark-brown);
    margin: 0;
    padding: 3rem;
}

.spec-name{
    font-family: 'Handlee';
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin: 2rem auto;
    color: var(--dark-brown);
}

.spec-name::after{
    content: url(http://7oroof.com/demos/steakin/assets/images/background/shapes/shape-4.png);
    display: block;
    width: 100px;
    margin-inline: auto;
    margin-block-start: 5px;
}

/* .recipes-inline p{
    font-size: 1.2rem;
} */

