  /* Tab Content Styles */
  .TabContent {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6rem;
  }

  .TabContent:last-child{
    margin-top: -22rem;
  }

  